---
import Html from "@components/Html.astro";

const frontmatter = {
  title: "Maps",
  description: "Life Maps",
  authors: [{ collection: "authors", id: "sk" }],
  date: new Date(),
};
---

<Html frontmatter={frontmatter}>
  <main>
    <h1>Maps</h1>
  </main>
</Html>
